/**/
/** Loading fonts
/**/
@font-face {
    font-family: MuseoSans300;
    src: url('fonts/MuseoSans-300.otf');
}

@font-face {
    font-family: Museo700;
    src: url('fonts/Museo700-Regular.otf');
}

/**/
/** Toolbox
/**/


body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Museo700;
  padding-top: 8px;
  margin: 0;
  padding-bottom: 8px;
  text-align: center;
  background-color: #000;
  color: #fff;
}

#content_blocks {
  position: absolute;
  float: left;
}


#makerwear_modules {
  position: relative;
  margin-top: 20px;
  width: 270px;
  height: 270px;
  margin-left: 15px;

  float: left;

  background-color: #fafafa;
}

.button {
  padding: 10px;
  border-radius: 4px;
  font-size: 20px;

  margin-left: 15px;
  margin-top: 15px;

  background-color: #eee;

  font-family: MuseoSans300;
}

.button:hover {
  background-color: #ddd;
}

#makerwear_modules img {
  position: absolute;
}

#mid_hex {
  width: 75px;
  top: 97.5px;
  left: 97.5px;
}

#hex_in1 {
  width: 75px;
  top: 172.5px;
  left: 97.5px;

  transform: rotate(0deg);
}

#hex_in2 {
  width: 75px;
  top: 60px;
  left: 161.25px;

  transform: rotate(60deg);
}

#hex_in3 {
  width: 75px;
  top: 60px;
  left: 33.75px;

  transform: rotate(300deg);
}

#hex_out1 {
  width: 75px;
  top: 22.5px;
  left: 97.5px;

  transform: rotate(0deg);
}

#hex_out2 {
  width: 75px;
  top: 135px;
  left: 33.75px;

  transform: rotate(240deg);
}

#hex_out3 {
  width: 75px;
  top: 135px;
  left: 161.25px;

  transform: rotate(120deg);
}
